* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.8rem;
}

p {
    font-size: 1.1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
.btn-primary{
    background-color: antiquewhite #1545f1;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    top: 50px;
}
.btn-primary:hover{
    background-color: #323131;
    color: white;
    top: -1px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    flex: 1;
    padding: 20px;
}

@media (max-width: 992px) {
    .row {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1rem;
    }

    .btn-primary {
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.95rem;
    }

    .btn-primary {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
    }

    .btn-primary {
        font-size: 12px;
        padding: 5px 10px;
    }
}
